/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	background-color: rgba(255, 254, 248, 1);
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.flexCentre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filtres {
	box-sizing: border-box;
	padding: 12px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	margin-top: 2%;
	line-height: 19px;
	text-align: center;
}

.apparenceFiltres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 5%;
}

.filtres:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer
}

.filtres.active {
	background-color: #1D6154;
	color: white;
	cursor: pointer
}

.section1 {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	background: rgba(255, 255, 255, 1);
	width: 379px;
	height: 51px;
	top: 338px;
	left: 530px;
	border: none;
}

.passeword {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	background: rgba(255, 255, 255, 1);
	width: 379px;
	height: 51px;
	top: 441px;
	left: 530px;
	border: none;

}

.bouton {
	font-family: 'Syne';
	width: 179px;
	height: 36px;
	top: 529px;
	left: 669px;
	border-radius: 60px;
	background: rgba(29, 97, 84, 1);
}

.bouton :hover {
	cursor: pointer;
}

.boutonText {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	height: 17px;
	top: 539px;
	color: rgba(255, 255, 255, 1);
}

.emailTexte {
	margin: 10px;
	margin-right: 340px;
}

.mpBouton {
	font-family: 'Work Sans';
	font-weight: 500;
	size: 14px;
	line-height: 16px;
	margin-top: 15px;
	background-color: rgba(255, 254, 248, 1);
	border: none;
}

.mpTexte1 {
	margin: 10px;
	margin-right: 292px;

}

.mpTexte2 {
	color: rgba(61, 61, 61, 1);
	;
}

.loginTexte {
	font-weight: bold;
}

.logInTexte2 {
	margin-bottom: 15px;

}

.foot {
	width: 1140px;
	height: 60px;
	margin-top: 190px;
	background-color: white;

}

.footTexte {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0em;
	color: rgba(0, 0, 0, 1);
	left: 1224px;
	margin-top: 30px;

}

.blockSection {
	margin-top: 90px;
}

.sup-décor {
	text-decoration: none;
	color: #1D6154;
}


#boutonLogin {
	text-decoration: none;
	color: black;
}

#boutonLogout {
	text-decoration: none;
	color: black;
}

.editionTexte {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}


.blockModifier {
	display: flex;
	margin-top: 5px;
	gap: 5px;
	flex-direction: row;
	align-self: flex-start;
	justify-content: center;
	color: black;
}

.projetSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.boutonModifier {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: black;
}

/* style modale */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	animation: fadeIn 300ms both;
}

.blockModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	width: 630px;
	height: 731px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
}

.containerImg {
	display: flex;
	width: 390px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: center;
	gap: 25px;
}

#galerieTitre {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}


.containerImg div {
	position: relative;
}

.containerImg img {
	height: 105px;
}

.containerImg button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10px;
	font-size: 10px;
	top: 5px;
	right: 5px;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 2px;
}

.containerImg button:hover {
	cursor: pointer;
}

.modifierApparence {
	text-decoration: none;
}

/*C:closed*/
.boutonC {
	align-self: flex-end;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 19px;
	text-align: center;
	color: black;
	border-style: none;
	background-color: white;
}


.texteAjouter {
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
}

.texteAjouter:hover {
	cursor: pointer;
	scale: 1.2;
}

/*sup:suppréssion*/
.gallerySup {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #D65353;
	cursor: pointer;
}

.validerApparence {
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
	margin-bottom: 40px;
}

/*A:ajouter; S:supprimer*/

.blockA-S {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

/* formulaire de modification de la galerie */

#modalForm {
	display: none;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

/*C:closed; P:previous*/
.boutonC-P {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.boutonP {
	font-size: 21px;
	line-height: 19px;
	text-align: center;
	color: black;
	border-style: none;
	background-color: white;
}

#boutonValider {
	width: 237px;
	height: 36px;
	background: #A7A7A7;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
	cursor: pointer;
}

.miniature {
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #E8F1F7;
	border-radius: 3px;
}

#image {
	width: 173px;
	height: 36px;
	background: #CBD6DC;
	border-radius: 50px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #306685;
}

.ajouterTexte {
	width: 173px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #CBD6DC;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;

	color: #306685;
}

#title,
#category {
	width: 420px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}


.formTexte {
	align-self: flex-start;
	margin-left: 35px;
}

.corbeil-icon {
	margin: 10px;
	font-size: 60px;
	color: #B9C5CC;

}


.imageApparence {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #444444;
	margin-top: 5px;
}

#exportImage img {
	width: 130px;
	height: 169px;
}

input[type="file"] {
	display: none;
}

#editionApparence {
	position: absolute;
	width: 100vw;
	top: 0;
	right: 0;
	height: 59px;
	margin: 0;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: #FFFFFF;
	gap: 10px;
}

header {
	margin-top: 80px;
}

#top-icon {
	color: white;
	background-color: #000000;
}

#loginBouton {
	font-weight: 600;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}